*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main: #000000;
    --main-light: #101010;
    --acc: #00dabf;
    --sec: #ffffff;
}

h1{
    font-family: 'Prata', serif;
    color: var(--sec);
    font-size: 52px;
    font-weight: 400;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: black;
}


p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
}

.bg-main
{
    background-color: var(--main)
}


.bg-second{
    background-color: var(--sec);
}

.hamburger{
    color: black;
    font-size: 34px;
}
.hamburger:hover{
    border-color: none;
}

#myVideo{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -10;
  
}

.book{
    width: 350px;
    height: auto;
    
}

.bi{
    width: 32px;
}

footer{
    height: 60px;
}

ul, a{
    color:white;
    list-style: none;
    text-decoration: none;
}

.img-profile{
    width: 250px;
}

.projects button{
    height: 40px;
    width: 300px;
    border: 1px solid white;
    background-color: var(--main);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.projects button:hover{
    color: var(--acc);
    border: 1px solid var(--acc);

}

footer .bi:hover{
    color: var(--acc);
}

.bg-trasparent{
    background-color: rgba(0, 0, 0, 0.577);
}

/* media queryes */
@media only screen and (max-width: 768px) {
    .title {
      font-size: 40px;
    }
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec);
    height: 60px;

}

nav p{
    color: var(--main)
}
